.btn_action_write_post {
  background-color: transparent;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #edeef0;
}
.btn_action_join_group {
  background-color: transparent;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #2f6ce5;
  color: #fff;
  margin-left: 15px;
}

.GroupControllers {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.activeCategory {
  font-weight: bold;
  padding-bottom: 20px;
}
