body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

/* Reset  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

.main_header .container-fluid {
  max-width: 1480px;
}

.postcontroler {
  cursor: pointer;
}

.postcontroler.active {
  color: #e56135;
}
